* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Navigation */
nav {
  background: linear-gradient(to bottom, lightblue, transparent);
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  text-align: left;
  margin-left: 30px;
}
nav a {
  margin-right: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bolder;
  font-size: 1.3rem;
}
nav a:hover {
  color: #f37520;
  border-bottom: solid 2px #f37520;
  padding-bottom: 2px;
}

/* Hero */
#hero {
  color: #333;
  background: linear-gradient(lightblue, transparent 60%),
    linear-gradient(0deg, #fff, transparent), url(img/ship-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  text-align: center;
  width: 30%;
}
.header h1 {
  font-size: 3rem;
}
.tagline {
  font-style: italic;
  margin: 10px 0;
  font-size: 1.5rem;
}
#action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #f37520;
  height: 50px;
  width: 60%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

/* History */
#history {
  width: 50%;
  margin: 0 auto;
  color: #333;
}
#history h2 {
  margin-bottom: 30px;
}
#history p {
  margin-bottom: 15px;
}
#history figure {
  float: right;
  margin: 20px;
  border: solid 1px #333;
  padding: 10px;
  text-align: center;
  font-style: italic;
}
#history figure img {
  width: 400px;
  height: auto;
}
