/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: #f37520;
}
.content-container {
  width: 75%;
  margin: 0 auto;
  color: #333;
}
section {
  margin-bottom: 30px;
}
/* Navigation */
nav {
  background: #f16100;
}
nav a {
  font-weight: bolder;
  font-size: 1.3rem;
}
nav .links {
  text-align: right;
}
.other a:hover {
  border-bottom: solid 2px #f37520;
  padding-bottom: 2px;
}

/* Hero */
#hero {
  color: #333;
  background: linear-gradient(lightblue, transparent 60%),
    linear-gradient(0deg, #fff, transparent), url(img/ship-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  text-align: center;
  width: 30%;
}
.header h1 {
  font-size: 3rem;
}
.tagline {
  font-style: italic;
  margin: 10px 0;
  font-size: 1.5rem;
}
#action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #f37520;
  height: 50px;
  width: 60%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Sections */
section:nth-child(odd) {
  background: #eee;
}
section {
  padding: 15px 0;
}

/* Events */
.card .card-header h2 button {
  color: #f37520;
  text-transform: uppercase;
}

/* Plan a trip */

#plan h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.plan-contents {
  display: flex;
  justify-content: space-between;
}
#hours,
#admission {
  width: 45%;
}
.hours,
.admission {
  width: 100%;
  border: solid 1px #333;
}
.hours,
.admission {
  text-align: right;
  width: 100%;
  border: solid 1px #333;
}
.hours tr td,
.admission tr td {
  padding: 5px;
  border-right: solid 1px #333;
}
.hours tr:nth-child(even),
.admission tr:nth-child(even) {
  background: #ddd;
}
.hours tr:nth-child(odd),
.admission tr:nth-child(odd) {
  background: #fff;
}
.disclaimers p {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}
.mobile-table {
  display: none;
  list-style-type: none;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  border: solid 1px #333;
  padding: 5px;
}
.mobile-table .title {
  font-weight: bold;
}

/* History */
#history p {
  margin-bottom: 15px;
}
#history figure {
  float: right;
  margin: 20px;
  border: solid 2px #f37520;
  padding: 10px;
  text-align: center;
  font-style: italic;
}
#history figure img {
  width: 400px;
  height: auto;
}

/* Gallery */
#gallery {
  margin-bottom: 0;
}
#gallery p {
  text-align: center;
}
.img-grid .gallery-img {
  height: 350px;
  padding: 20px;
  background-size: cover;
  background-position: cover;
  background-clip: content-box;
}
.img-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  list-style-type: none;
}
.img-grid .gallery-img {
  background-position: center center;
  background-size: cover;
}
.img-grid .boat-small {
  width: 25%;
  flex-grow: 1;
}
.img-grid .boat-large {
  width: 70%;
  flex-grow: 2;
}
.boat-a {
  background: url("img/boat-a.jpg");
}
.boat-b {
  background-image: url("img/boat-b.jpg");
}
.boat-c {
  background-image: url("img/boat-c.jpg");
}
.boat-d {
  background-image: url("img/boat-d.jpg");
}
.boat-e {
  background-image: url("img/boat-e.jpg");
}
.boat-f {
  background-image: url("img/boat-f.jpg");
}

/* Footer */
footer {
  background: #333;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a:link,
footer a:visited,
footer a:active {
  color: white;
}

footer a:hover {
  color: #f37520;
}

/* Media Queries */
/* Laptop */
@media screen and (max-width: 1024px) {
  .header {
    width: 50%;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header .tagline {
    font-size: 1.2rem;
  }
  #content-container {
    margin-top: 30px;
    width: 75%;
  }
  section {
    padding: 30px;
  }
  #plan h3 {
    text-align: center;
    font-size: 1.7rem;
  }
  .plan-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hours,
  #admission {
    width: 100%;
  }
  #admission {
    margin-top: 15px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .header {
    width: 70%;
  }
  .header h1 {
    font-size: 2.2rem;
  }
  .header .tagline {
    font-size: 1.15rem;
  }
  #history figure img {
    width: 300px;
  }
  .admission {
    margin: 0 auto;
  }
  .admission tr td {
    padding-left: 25px;
  }
  .img-grid .boat-small,
  .img-grid .boat-large {
    width: 100%;
    height: 250px;
    flex-grow: 1;
  }
}

/* Mobile - Large */
@media screen and (max-width: 426px) {
  #hero a {
    width: 100%;
    font-size: 1.2rem;
  }
  .header h1 {
    font-size: 1.7rem;
  }
  .header .tagline {
    font-size: 1rem;
    font-weight: bold;
  }
  h2 {
    text-align: center;
  }
  #history figure {
    float: none;
  }
  #history figure img {
    width: 100%;
  }
  #history figure figcaption {
    font-size: 0.9rem;
  }
  .mobile-table {
    display: block;
  }
  .hours,
  .admission {
    display: none;
  }
}

/* Mobile - Medium */
@media screen and (max-width: 375px) {
  .header,
  #content-container {
    width: 90%;
  }
}

/* Mobile - Small */
@media screen and (max-width: 320px) {
}
